body{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #333;
}

.logo{
  font-weight: bold;
  font-family: cursive;
  color: red;
  font-size: 1.5rem;
}

.links{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
button{
  background-color: black;
  color: white;
  border:1px solid red;
  border-radius: 20px ;
  padding: 10px;
  font-weight: bold;
}
.cta2{
background-color: aliceblue;
color: black;
}
span{
  font-family: cursive;
  color: red;
}