*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  color: red;
  font-family: cursive;
  font: bold;
  font-size: large;
  cursor: pointer;
}

header{

  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav{
  display: flex;
  gap: 20px;  
}

a{
    text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.navcta{
  background-color: #1e40af;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.navcta:hover{
  background: red;
}

span{
  font-family: cursive;
  color: red;
}

.hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: #f9fafb;
}
.hero-text h1{
  font-size: 2.5rem;
  font-weight:bold;
  color:#374151;
}
hero-text p{
  margin: 1rem 0;
  color: #374151;
}
.cta{
display: inline-block;
background: #1e40af;
border: none;
color: white;
border-radius: 20px;
padding: 10px;
cursor: pointer;
margin-right: 10px;
}
.cta:hover{
  background:red;
}
.cta1{
  background: #1e40af;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.cta1:hover{
  background:red;
}
.hero-image img{
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
}