 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
/* header */
.logo{
  color: red;
  font-family: cursive;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

header{

  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav{
  display: flex;
  gap: 20px;  
}

a{
    text-decoration: none;
    color: #374151;
    font: bold;
}
a:hover{
  text-decoration: underline;
}
.navcta{
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.navcta:hover{
  background: red;
}

/* hero */

span{
  font-family: cursive;
  color: red;
}

.hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: #f9fafb;
}
.hero-text h1{
  font-size: 2.5rem;
  font-weight:bold;
  color:#374151;
}
hero-text p{
  margin: 1rem 0;
  color: #374151;
  
}
.cta{
display: inline-block;
background: #e63946;
border: none;
color: white;
border-radius: 6px;
padding: 10px;
cursor: pointer;
margin-right: 10px;
}
.cta:hover{
  background:red;
}
.cta1{
  background: #e63946;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.cta1:hover{
  background:red;
}
.hero-image img{
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
}
h2{
  font-size: 2.5rem;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color:red ;
}
/* Portfolio */

.project-card{
  background: #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  max-width: 100%;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.project-card:hover{
  transform: translate(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0 ,0.1);
}

.project-card img{
  width: 100%;
  height: 200px;
  border-radius: 6px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.project-card h3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-card p{
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;

}

.project-link{
  display: inline-block;
  color: #0077ff;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}

.project-link:hover{
  text-decoration: underline;
}

.project-grid{
  display: grid;
  grid-template-columns:  repeat(auto-fit,minmax(300px,1fr));
  gap: 2rem;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 2rem;
}

.skills-card {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.skills-card:hover {
  transform: translateY(-5px);
}

.skills-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

.skills-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-card li {
  margin: 0.25rem 0;
  font-size: 0.95rem;
  color: #555;
}

/* resume */

.resume-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 2rem;
}

.resume-card {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.resume-card:hover {
  transform: translateY(-5px);
}

.resume-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

.resume-card ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}

.resume-card li {
  margin: 0.25rem 0;
  font-size: 0.95rem;
  color: #555;
}

.contact{
  padding: 4rem 2rem;
  background: #fff;
  max-width: 600px;
  margin: auto;
}

.contact h2{
  text-align: center;
  margin-bottom: 1rem;
}

.contact p{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #555;
}

form label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight:bold;
}

form input,form textarea{
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.send-btn{
  background-color: #e63946;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.social-links,
.whatsapp-connect{
  margin-top: 2rem;
  text-align: center;
}

.social-links a,
.whatsapp-connect a {
  margin: 0 0.5rem;
  color: #1d3557;
  font-weight: bold;
}

/* About me */

.aboutme p{
  text-align: center;
  font-size: 1rem;
  color: #555
}
footer{
  display: flex;
  justify-content: center;
}

.back-to-top{
  background: #e63946;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
}
.footer-links p{
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.back-to-top:hover{
  background: #1d3557;
}
html{
  scroll-behavior: smooth;
}